# Игнорируем конфигурацию IDE
.idea/
*.iml

# Игнорируем кеши сборки и артефакты Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Файлы зависимостей и локальных настроек
/local.properties
.gradle/
/out/
/build/

# Файлы скриптов и сгенерированных данных
*.log
*.tmp
*.swp
*.swo

# Кэшированные файлы IntelliJ IDEA/Android Studio
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
